@import "../../css/qobiljon.css";
@import "../../css/index.css";
* {
  padding: 0;
  margin: 0;
  ::after,
  ::before {
    box-sizing: border-box;
  }
}
header {
  background-color: #f2f4f7;
}
.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  border: none;
}

.first_nav {
  display: flex;
  gap: 135px;
  h1 {
    color: #8b8e99;
  }
}
.wd {
  width: 1600px;
  input {
    display: block;
    border: solid 0.1px gray;
    width: 430px;
    border-radius: 30px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.nm {
  color: black;
}
.modal-dialog {
  .modal-content {
    .modal-footer {
      .kd {
        display: block;
        width: 430px;
        margin: 0 auto;
        border: none;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 80px;
      }
    }
    .modal-header {
      h1 {
        color: black;
        margin: 0 auto;
        font-size: 30px;
        padding-bottom: 10px;
      }
    }
    .sms {
      color: black;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}

.third_nav {
  display: flex;
  text-align: center;
  margin-top: -70px;
  a {
    color: black;
    transition: 0.5s;
    &:hover {
      text-decoration: underline;
    }
  }

  .icon2 {
    display: flex;
    text-align: center;
    gap: 30px;
  }
  .icon {
    display: flex;
    text-align: center;
    gap: 10px;
    margin-left: -30px;
    img {
      width: 30px;
    }
  }
}
